{{ form_open({method: 'post', autocomplete: 'off'}) }}
<div class="navbar-title3 top-curve table-header">
    <h2 class="header-title">Bank Transfer</h2>
    <div class="header-title-infor">
        {{ lang('payments.minimum') }}. {{ payment.deposit.minimum|number_format(2) }} - 
        {{ lang('payments.maximum') }}. {{ payment.deposit.maximum|number_format(2) }}
    </div>
</div>
<div style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: hidden;">
    <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label">
                <label for="company" class="form-label-left">{{ lang('payments.bank.fields.company') }}</label>
            </div>
            <div class="input deposit-input-have-infor input-readonly">
                <input readonly data-clear-btn="true" type="text" name="company" id="company" value="{{ payment.informations.company }}" />
                <span class="fee-information">
                    <span class="fee-header">{{ lang('payments.fees') }}:</span>
                    <span class="fee-detail">
                    {% if payment.deposit.fees.percent and payment.deposit.fees.amount %}
                        {{ payment.deposit.fees.percent|number_format(2) }}% + {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                    {% elseif payment.deposit.fees.percent %}
                        {{ payment.deposit.fees.percent|number_format(2) }}%
                    {% elseif payment.deposit.fees.amount %}
                        {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                    {% else %}
                        {{ lang('global.none') }}
                    {% endif %}
                    </span>
                </span>
                <div class="form-register-error"></div>
            </div>
        </li>
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label">
                <label for="iban" class="form-label-left">{{ lang('payments.bank.fields.iban') }}</label>
            </div>
            <div class="input input-readonly">
                <input readonly data-clear-btn="true" type="text" name="iban" id="iban" value="{{ payment.informations.iban }}" />
                <div class="form-register-error"></div>
            </div>
        </li>
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label">
                <label for="bic" class="form-label-left">{{ lang('payments.bank.fields.bic') }}</label>
            </div>
            <div class="input input-readonly">
                <input readonly data-clear-btn="true" type="text" name="bic" id="bic" value="{{ payment.informations.bic }}" />
                <div class="form-register-error"></div>
            </div>
        </li>
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label">
                <label for="bank" class="form-label-left">{{ lang('payments.bank.fields.bank') }}</label>
            </div>
            <div class="input input-readonly">
                <input readonly data-clear-btn="true" type="text" name="bank" id="bank" value="{{ payment.informations.bank }}" />
                <div class="form-register-error"></div>
            </div>
        </li>
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label">
                <label for="purpose" class="form-label-left">{{ lang('payments.bank.fields.purpose') }}</label>
            </div>
            <div class="input input-readonly">
                <input readonly data-clear-btn="true" type="text" name="purpose" id="purpose" value="{{ customer.username }}-{{ customer.id }}" />
                <div class="form-register-error"></div>
            </div>
        </li>
    </ul>
</div>
{{ form_close() }}