<!DOCTYPE html>
<html>
    <head>

        <title>{{ metas.title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {{ html_meta('title', metas.title) }}
        {{ html_meta('description', metas.description) }}
        {{ html_meta('keywords', metas.keywords) }}
        {{ html_meta('apple-mobile-web-app-capable', 'yes') }}
        {{ html_meta('apple-mobile-web-app-status-bar-style', 'black') }}
        {{ html_meta('viewport', 'width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0') }}

        {{ asset_css('57px.png', {rel: 'apple-touch-icon', size: '57x57'}) }}
        {{ asset_css('72px.png', {rel: 'apple-touch-icon', size: '72x72'}) }}
        {{ asset_css('114px.png', {rel: 'apple-touch-icon', size: '114x114'}) }}

        {{ asset_css('favicon.ico', {rel: 'shortcut icon'}) }}
        {{ asset_css('bootstrap.css') }}
        {{ asset_css('jquery/theme.css') }}
        {{ asset_css('jquery/structure.css') }}
        {{ asset_css('jquery/flexslider.css') }}
        {{ asset_css('jquery/style.css') }}

        {{ asset_js(betmatic.cdn ~ '/js/sockjs/0.3.4/sockjs.min.js') }}
        {{ asset_js(betmatic.cdn ~ '/js/jquery/2.0.3/jquery.min.js') }}
        
        <script type="text/javascript">
            var _pageIsLoaded = false,
                _window = $(window),
                _document = $(document),
                _isIPhone4 = /iPhone/.test(navigator.userAgent) && (screen.width == 320 && screen.height == 480 || screen.width == 480 && screen.height == 320),
                scrollTop = 0;

			/*$("[data-role=header]").fixedtoolbar({ tapToggle: false });
			$("[data-role=footer]").fixedtoolbar({ tapToggle: false });*/

			_document.bind('mobileinit', function () {
                $.mobile.ajaxEnabled = false;
            });

            _document.bind('pageshow', function() {
                fixIphoneBugs();

                _pageIsLoaded = true;

                _window.bind('orientationchange', function(){
                    fixIphoneBugs();
                });
            });

            function fixIphoneBugs(){
                var contentOuterHeight = _window.height() - $(".ui-header").height() - 84 + 7,
                    contentOuterStyle = ""
                    pageStyle = "",
                    pageMinHeight = 0,
                    bodyHeight = 0;

                /** Fix footer */
                if(/4_3/.test(navigator.userAgent)){
                    //alert("iPhone 4.3!");
					//if($('.content-outer').eq(0).height() < contentOuterHeight){
						contentOuterHeight = _window.height() - $(".ui-header").height() - 20;

                        if((/iphone|ipod|ipad/gi).test(navigator.platform)){
                            if (!('standalone' in navigator) || navigator.standalone) {
                                contentOuterHeight -= 50;
                            }
                        }  
						contentOuterStyle = "<style id='contentOuterStyle'>.ui-mobile .ui-page .content-outer { height: " + "" + "auto !important; min-height: " + contentOuterHeight + "px; } .ui-mobile, .ui-mobile body {height: auto !important;}</style>";
					//}
                }
                else{
					//if($('.content-outer').eq(0).height() < contentOuterHeight){
						if(_isIPhone4) {
							contentOuterHeight += 50;
						}
                        if((/iphone|ipod|ipad/gi).test(navigator.platform)){
                            if (!('standalone' in navigator) || navigator.standalone) {
                                contentOuterHeight -= 50;
                            }
                        }  
						contentOuterStyle = "<style id='contentOuterStyle'>.ui-mobile .ui-page .content-outer { min-height: " + contentOuterHeight + "px !important; }</style>";
					//}
                }

                $("#contentOuterStyle").remove();
                $("head").append(contentOuterStyle);

                /** Fix header  */
                if(!/4_3/.test(navigator.userAgent)){
                    $("#pageStyle").remove();

                    pageMinHeight = _window.height() - $(".ui-header").height() - 40;
                    bodyHeight = $("body").height();
                    if(_isIPhone4) {
                        pageMinHeight += 0;
                        bodyHeight += 50;
                    }
                    pageStyle = "<style id='pageStyle'>body{height: " + bodyHeight + "px !important;} .ui-page {padding-top: " + ($(".ui-header").height()) + "px !important; min-height: " + pageMinHeight + "px !important; height: " + pageMinHeight + "px !important;}</style>";

                    $("head").append(pageStyle);
                }
                else {
                    pageMinHeight = _window.height() - $(".ui-header").height() - 40;
                    pageStyle = "<style id='pageStyle'>.ui-page {padding-top: " + $(".ui-header").height() + "px !important; min-height: auto !important; height: auto !important; overflow: visible !important;} .ui-header {} </style>";
                    $("#pageStyle").remove();
                    $("head").append(pageStyle);
                }

            }

            {% if environment == 'production' %}

                $(function () {
                    betmatic.init('{{ token }}');
                });

            {% else %}

                $(function () {
                    betmatic.init('{{ token }}', {
                        api: '{{ betmatic.api }}',
                        cdn: '{{ betmatic.cdn }}',
                        ws: '{{ betmatic.websocket }}'
                    });
                });

            {% endif %}

        </script>

        {{ asset_js(betmatic.cdn ~ '/js/jquery-mobile/1.3.2/jquery.mobile.min.js') }}
        {{ asset_js(betmatic.cdn ~ '/js/jquery-flexslider/2.2.0/jquery.flexslider.min.js') }}
        {{ asset_js(betmatic.cdn ~ '/js/bookmark-bubble/1.1.3/bookmark.min.js') }}
        {{ asset_js(betmatic.cdn ~ '/js/knockout/3.1.0/knockout.min.js') }}
        {{ asset_js(betmatic.cdn ~ '/js/knockout-mapping/2.4.1/knockout.mapping.min.js') }}
        {{ asset_js(betmatic.cdn ~ '/js/betmatic/' ~ betmatic.version ~ '/betmatic.min.js') }}
        {{ asset_js('general.js') }}
        {{ asset_js('fixes.js') }}

    </head>
    <body>
       
        <div id="index" data-role="page">
            
            <div data-id="navigation" data-role="header">{{ partials.header }}</div>
                <div id="content" data-role="content" class="content-outer">
                    {% if alerts.error %}
                        <ul data-role="listview" data-theme="e" class="message">
                            {% for alert in alerts.error %}
                                <li class="msg err-msg">{{ markdown(alert) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if alerts.success %}
                        <ul data-role="listview" data-theme="e" class="message">
                            {% for alert in alerts.success %}
                                <li class="msg success-msg">{{ markdown(alert) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if alerts.info %}
                        <ul data-role="listview" data-theme="e" class="message">
                            {% for alert in alerts.info %}
                                <li class="msg info-msg">{{ markdown(alert) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                        
                    {{ partials.content }}

                    <a id="timeoutPopupLink" href="#timeout" data-rel="popup" class="dnone">Open timeout popup</a>
                    <div data-role="popup" id="timeout" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
                        <div data-role="header" data-theme="a" class="ui-corner-top">
                            <h1>{{ lang('timeout.title') }}</h1>
                        </div>
                        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                            <p>{{ lang('timeout.description') }}</p>
                            <button data-redirect="/">{{ lang('timeout.reload') }}</button>
                        </div>
                    </div>
                        
                </div>
            <div data-id="navigation" data-role="footer">{{ partials.footer }}</div>
        </div>
        
        {{ analytics }}

        <!--div style="background: #ff0000; width:1px; position:fixed; left: 50%; height: 1000px; z-index:99999;"></div>
        <div style="background: #ff0000; height:1px; position:fixed; top: 50%; width: 1920px; z-index:99999;"></div-->

    </body>
</html>