
{{ form_open({method: 'post', autocomplete: 'off'}) }}
    <div class="navbar-title3 top-curve table-header">
        <h2 class="header-title">Eco Payz</h2>
        <div class="header-title-infor">
            {{ lang('payments.minimum') }}. {{ payment.deposit.minimum|number_format(2) }} - 
            {{ lang('payments.maximum') }}. {{ payment.deposit.maximum|number_format(2) }}
        </div>
    </div>
    <div id="deposit" style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: hidden;">
        
        {% set amounts = [25, 50, 100, 200, 500] %}

        <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label">
                    <label for="amount" class="form-label-left">Amount</label>
                </div>
                <div class="input form-container-select deposit-input-have-infor">
                    <select id="amount-select" name="amount-select">
                        {% for amount in amounts %}
                            <option value="{{ amount }}">{{ amount }} {{ handshake.currency.id }}</option>
                        {% endfor %}
                    </select>
                    <span class="fee-information">
                        <span class="fee-header">{{ lang('payments.fees') }}:</span>
                        <span class="fee-detail">
                        {% if payment.deposit.fees.percent and payment.deposit.fees.amount %}
                            {{ payment.deposit.fees.percent|number_format(2) }}% + {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                        {% elseif payment.deposit.fees.percent %}
                            {{ payment.deposit.fees.percent|number_format(2) }}%
                        {% elseif payment.deposit.fees.amount %}
                            {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                        {% else %}
                            {{ lang('global.none') }}
                        {% endif %}
                        </span>
                    </span>
                    <div class="form-register-error"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label">
                    <label for="enter_amount" class="form-label-left">Enter Manually</label>
                </div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="amount" id="amount" data-bind="value: amount" value="{{ form_val('amount') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: amount.valid() === false, text: amount.message()"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label">
                    <label for="amount_send" class="form-label-left total-deposit-number" data-bind="html: parseFloat(total()).toFixed(2) != 'NaN' ? parseFloat(total()).toFixed(2) : '0.00'">0.00</label>
                    {{ handshake.currency.id }}
                </div>
                <div class="input form-submit-button-center container-submit-fullwidth">
                    <button id="deposit-btn" type="submit" data-theme="a">{{ lang('payments.deposit.button') }}</button>
                </div>
            </li>
        </ul>
    </div>
{{ form_close() }}



<script type="text/javascript">

    $(function () {

        var payment = betmatic.payment.create({
            id: 'ecopayz',
            type: 'deposit'
        });

        payment.amount('{{ form_val('amount', amounts[0]) }}');
        payment.fees.percent('{{ payment.deposit.fees.percent }}');
        payment.fees.amount('{{ payment.deposit.fees.amount }}');

        ko.applyBindings(payment, document.getElementById('deposit'));

    });

</script>