{{ form_open({method: 'post', autocomplete: 'off'}) }}
    <div class="navbar-title3 top-curve table-header">
        <h2 class="header-title">Eco Payz</h2>
        <div class="header-title-infor">
            {{ lang('payments.minimum') }}. {{ payment.deposit.minimum|number_format(2) }} - 
            {{ lang('payments.maximum') }}. {{ payment.deposit.maximum|number_format(2) }}
        </div>
    </div>
    <div id="payout" style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: visible;">
        
        {% set amounts = [25, 50, 100, 200, 500] %}

        <ul data-role="listview" data-inset="true" class="account-details bottom-curve" style="overflow: visible;">
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label">
                    <label for="amount" class="form-label-left">Amount</label>
                </div>
                <div class="input form-container-select deposit-input-have-infor">
                    <div class="ui-select select-get-click">
                        <div data-corners="true" data-shadow="true" data-iconshadow="true" 
                        data-wrapperels="span" data-icon="arrow-d" data-iconpos="right" data-theme="c" 
                        class="ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-right ui-btn-up-c">
                            <span class="ui-btn-inner">
                                <span class="ui-btn-text">
                                    <span id="selected-number">{{ amounts[0]}} {{ handshake.currency.id }}</span>
                                </span>
                                <span class="ui-icon ui-icon-arrow-d ui-icon-shadow">&nbsp;</span>
                            </span>
                        </div>
                        <div class="container-list-button">
                            {% for amount in amounts %}
                                {{ form_button(amount, amount ~ " " ~ handshake.currency.id, {type: 'button', 'data-bind': 'css: {active: amount() == ' ~ amount ~ '}, click: function(){amount(' ~ amount ~ ')}'}) }}
                            {% endfor %}
                        </div>
                    </div>
                    <span class="fee-information">
                        <span class="fee-header">{{ lang('payments.fees') }}:</span>
                        <span class="fee-detail">
                        {% if payment.payout.fees.percent and payment.payout.fees.amount %}
                            {{ payment.payout.fees.percent|number_format(2) }}% + {{ payment.payout.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                        {% elseif payment.payout.fees.percent %}
                            {{ payment.payout.fees.percent|number_format(2) }}%
                        {% elseif payment.payout.fees.amount %}
                            {{ payment.payout.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                        {% else %}
                            {{ lang('global.none') }}
                        {% endif %}
                        </span>
                    </span>
                    <div class="form-register-error"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label">
                    <label for="enter_amount" class="form-label-left">Enter Manually</label>
                </div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="amount" id="amount" data-bind="value: amount" value="{{ form_val('amount') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: amount.valid() === false, text: amount.message()"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label">
                    <label for="account" class="form-label-left">{{ lang('payments.ecopayz.fields.account') }}</label>
                </div>
                <div class="input">
                    {{ form_input('account', form_val('account'), {'data-bind': 'value: account'}) }}
                    <div class="form-register-error" style="display:none" data-bind="visible: account.valid() === false, text: account.message()"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label">
                    <label for="amount_send" class="form-label-left total-deposit-number" data-bind="html: parseFloat(total()).toFixed(2) != 'NaN' ? parseFloat(total()).toFixed(2) : '0.00'">0.00</label>
                    {{ handshake.currency.id }}
                </div>
                <div class="input form-submit-button-center container-submit-fullwidth">
                    <button id="payout-btn" type="submit" data-theme="a">{{ lang('payments.payout.button') }}</button>
                </div>
            </li>
        </ul>
    </div>
{{ form_close() }}

<script type="text/javascript">

    $(function () {

        var payment = betmatic.payment.create({
            id: 'ecopayz',
            type: 'payout',
            fields: ['account']
        });

        payment.amount('{{ form_val('amount', amounts[0]) }}');
        payment.fees.percent('{{ payment.payout.fees.percent }}');
        payment.fees.amount('{{ payment.payout.fees.amount }}');
        payment.account('{{ form_val('account') }}');

        ko.applyBindings(payment, document.getElementById('payout'));


        // hide and display list buttons
        var listButton = $('.container-list-button');

        $('.container-list-button button').bind('click', function(e){
            e.stopPropagation();
            listButton.css('display','none');
            $('#selected-number').html($(this).html());
        });

        $('.select-get-click').bind('click', function(e){
            e.stopPropagation();
            listButton.css('display', 'block');
        });

        $(document).bind('click', function(){
            listButton.css('display','none');
        });

    });

</script>