{{ asset_js(betmatic.cdn ~ '/js/jquery-fileupload/9.8.0/vendor/jquery.ui.widget.js') }}
{{ asset_js(betmatic.cdn ~ '/js/jquery-fileupload/9.8.0/jquery.iframe-transport.js') }}
{{ asset_js(betmatic.cdn ~ '/js/jquery-fileupload/9.8.0/jquery.fileupload.js') }}
{{ asset_js(betmatic.cdn ~ '/js/jquery-fileupload/9.8.0/jquery.fileupload-process.js') }}
{{ asset_js(betmatic.cdn ~ '/js/jquery-fileupload/9.8.0/jquery.fileupload-validate.js') }}

<div id="identity" class="verify-identity">
    <div class="verify-wrapper">
        <div class="verify-image-container">
            {{ asset_img('mobile/verify_account_icon.png')}}
        </div>
        <div class="verify-content-container">
            {% if status.type in ['missing', 'declined'] %}

                {% if status.type == 'missing' %}

                    <h1><i class="fa fa-user"></i>{{ lang('profile.details.verify.identity.missing.title') }}</h1>
                    <p>{{ lang('profile.details.verify.identity.missing.description') }}</p>

                {% elseif status.type == 'declined' %}

                    <h1><i class="fa fa-user"></i>{{ lang('profile.details.verify.identity.declined.title') }}</h1>
                    <p>{{ lang('profile.details.verify.identity.declined.description') }}</p>
                    <p><strong>{{ status.information }}</strong></p>

                {% endif %}

                <div class="restrictions">{{ lang('profile.details.verify.identity.limitations') }}</div>

                <div style="border-radius: 0; -webkit-border-radius: 0; overflow: hidden;">
                    <form method="post">
                        <ul data-role="listview" data-inset="true" class="account-details">
                            <li class="li-form-group-row" data-role="fieldcontain">
                                <div class="label">
                                    <label class="form-label-left">
                                        {{ lang('profile.details.verify.identity.labels.id') }}
                                    </label>
                                </div>
                                <div class="input">
                                    <input data-clear-btn="true" type="text" name="document" autofocus="autofocus" />
                                </div>
                            </li>

                            <li class="li-form-group-row" data-role="fieldcontain">
                                <div class="label">
                                    <label class="form-label-left">
                                        &nbsp;
                                    </label>
                                </div>
                                <div class="input form-submit-button-center container-submit-fullwidth">
                                    <button type="submit" data-theme="a">
                                        {{ lang('profile.details.verify.identity.fields.verify') }}
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </form>
                    <ul data-role="listview" data-inset="true" class="account-details">
                        <li class="li-form-group-row" data-role="fieldcontain">
                            <div class="label">
                                <label class="form-label-left">
                                    {{ lang('profile.details.verify.identity.labels.passport') }}
                                </label>
                            </div>
                            <div class="input">
                                <input id="fileupload" type="file" name="document" autofocus="autofocus" accept="image/jpeg,image/png,application/pdf">

                                <div class="progress progress-striped active progress-upload">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $('#fileupload').fileupload({
                            url: '/profile/verify/upload/identity',
                            dataType: 'json',
                            acceptFileTypes: /(\.|\/)(gif|jpe?g|png|pdf)$/i,
                            maxFileSize: 10000000,
                            add: function (e, data) {
                                data.submit();
                            },
                            progress: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                $('.progress .bar').css('width', progress + '%');
                            },
                            complete: function () {
                                betmatic.refresh();
                            }
                        });
                    });
                </script>

            {% elseif status.type == 'pending' %}

                <h1><i class="fa fa-user"></i>{{ lang('profile.details.verify.identity.pending.title') }}</h1>
                <p>{{ lang('profile.details.verify.identity.pending.description') }}</p>

            {% elseif status.type == 'accepted' %}

                <h1><i class="fa fa-user"></i>{{ lang('profile.details.verify.identity.accepted.title') }}</h1>
                <p>{{ lang('profile.details.verify.identity.accepted.description') }}</p>

            {% endif %}
        </div>
    </div>
</div>
