<div id="payout" class="payout-provider">
    <div class="back-wrapper">
        <a class="back" href="/profile/payout.html"><span>{{ lang('global.back') }}</span></a>
    </div>

    {{ form_open({method: 'post', autocomplete: 'off'}) }}

    <div class="payout-provider-details">
        {{ asset_img('payments/ico-payfriendz.png') }}

        <p class="details"><strong>{{ lang('payments.minimum') }}-{{ lang('payments.maximum') }}: -</strong><br/>
            <strong>{{ lang('payments.fees') }}: -</strong><br/>
            <strong>{{ lang('payments.duration') }}: -</strong>
        </p>

        <p class="info">
            {{ lang('payments.payfriendz.description') }}
            <a href="http://www.payfriendz.com/" target="_blank" class="a_payment_link">http://www.payfriendz.com/</a>
        </p>
    </div>

    <div class="full-centered">
        <h2>{{ lang('payments.payfriendz.alternative') }}</h2>
    </div>

    {{ form_close() }}

</div>