{{ form_open({method: 'post', autocomplete: 'off'}) }}
    {% if bank %}
        <div class="navbar-title3 top-curve table-header">
            <h2 class="header-title">{{ bank.name }}</h2>
            <div class="header-title-infor">
                {{ lang('payments.minimum') }}. {{ payment.deposit.minimum|number_format(2) }} - 
                {{ lang('payments.maximum') }}. {{ payment.deposit.maximum|number_format(2) }}
            </div>
        </div>
        <div id="deposit" style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: hidden;">
            
            {% set amounts = [25, 50, 100, 200, 500] %}

            <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="amount" class="form-label-left">Amount</label>
                    </div>
                    <div class="input form-container-select deposit-input-have-infor">
                        <select id="amount-select" name="amount-select">
                            {% for amount in amounts %}
                                <option value="{{ amount }}">{{ amount }} {{ handshake.currency.id }}</option>
                            {% endfor %}
                        </select>
                        <span class="fee-information">
                            <span class="fee-header">{{ lang('payments.fees') }}:</span>
                            <span class="fee-detail">
                            {% if payment.deposit.fees.percent and payment.deposit.fees.amount %}
                                {{ payment.deposit.fees.percent|number_format(2) }}% + {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                            {% elseif payment.deposit.fees.percent %}
                                {{ payment.deposit.fees.percent|number_format(2) }}%
                            {% elseif payment.deposit.fees.amount %}
                                {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                            {% else %}
                                {{ lang('global.none') }}
                            {% endif %}
                            </span>
                        </span>
                        <div class="form-register-error"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="enter_amount" class="form-label-left">Enter Manually</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="amount" id="amount" data-bind="value: amount" value="{{ form_val('amount') }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: amount.valid() === false, text: amount.message()"></div>
                    </div>
                </li>

                {% if 'identification' in bank.ignore %}
                    {{ form_hidden('identification', '-') }}
                {% else %}
                    <li class="li-form-group-row" data-role="fieldcontain">
                        <div class="label">
                            <label for="identification" class="form-label-left">{{ lang('payments.cepbank.fields.identification') }}</label>
                        </div>
                        <div class="input">
                            <input data-clear-btn="true" type="text" name="identification" id="identification" data-bind="value: identification" value="{{ form_val('identification') }}" />
                            <div class="form-register-error" style="display:none" data-bind="visible: identification.valid() === false, text: identification.message()"></div>
                        </div>
                    </li>
                {% endif %}

                {% if 'receiver' in bank.ignore %}
                    {{ form_hidden('receiver', '-') }}
                {% else %}
                    <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="receiver" class="form-label-left">{{ lang('payments.cepbank.fields.receiver') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="receiver" id="receiver" data-bind="value: receiver" value="{{ form_val('receiver') }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: receiver.valid() === false, text: receiver.message()"></div>
                    </div>
                </li>
                {% endif %}

                {% if 'sender' in bank.ignore %}
                    {{ form_hidden('sender', '-') }}
                {% else %}
                    <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="sender" class="form-label-left">{{ lang('payments.cepbank.fields.sender') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="sender" id="sender" data-bind="value: sender" value="{{ form_val('sender') }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: sender.valid() === false, text: sender.message()"></div>
                    </div>
                </li>
                {% endif %}

                {% if 'password' in bank.ignore %}
                    {{ form_hidden('password', '-') }}
                {% else %}
                    <li class="li-form-group-row" data-role="fieldcontain">
                        <div class="label">
                            <label for="password" class="form-label-left">{{ lang('payments.cepbank.fields.password') }}</label>
                        </div>
                        <div class="input">
                            <input data-clear-btn="true" type="text" name="password" id="password" data-bind="value: password" value="{{ form_val('password') }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: password.valid() === false, text: password.message()"></div>
                        </div>
                    </li>
                {% endif %}

                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="bank" class="form-label-left">{{ lang('payments.cepbank.fields.bank') }}</label>
                    </div>
                    <div class="input input-readonly">
                        <input readonly data-clear-btn="true" type="text" name="bank" id="bank" value="{{ bank.name }}"/>
                        <div class="form-register-error"></div>
                    </div>
                </li>
                {% if 'dob' in bank.ignore %}
                {% else %}
                    <li class="li-form-group-row" data-role="fieldcontain">
                        <div class="label">
                            <label for="dob" class="form-label-left">{{ lang('payments.cepbank.fields.dob') }}</label>
                        </div>
                        <div class="input form-container-select form-group-select-birthday">
                            {{ form_input('dob', form_val('dob'), {'data-bind': 'value: dob'}) }}
                            <div class="form-register-error" style="display:none" data-bind="visible: dob.valid() === false, text: dob.message()"></div>
                        </div>
                    </li>
                {% endif %}
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="amount_send" class="form-label-left total-deposit-number" data-bind="html: parseFloat(total()).toFixed(2) != 'NaN' ? parseFloat(total()).toFixed(2) : '0.00'">0.00</label>
                        {{ handshake.currency.id }}
                    </div>
                    <div class="input form-submit-button-center container-submit-fullwidth">
                        <button id="deposit-btn" type="submit" data-theme="a">{{ lang('payments.deposit.button') }}</button>
                    </div>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="sports-content deposit-container">
            <ul data-role="listview">
                {% for id,bank in banks %}
                <li>
                    <a href="/payments/cepbank/deposit/{{ id }}.html"  data-dom-cache="true">
                        {{ asset_img('payment/cepbank/' ~ id ~ '.png')}}
                        <h2 class="deposit-price-range-title">
                            {{ lang('payments.minimum') }}.{{ payment.deposit.minimum|number_format(0) }} {{ handshake.currency.id }} - 
                            {{ lang('payments.maximum') }}.{{ payment.deposit.maximum|number_format(0) }} {{ handshake.currency.id }}
                        </h2>
                    </a>
                </li>
                {% endfor %}
            </ul>   
        </div>

    {% endif %}

{{ form_close() }}

<script type="text/javascript">

    $(function () {

        var payment = betmatic.payment.create({
            id: 'cepbank',
            type: 'deposit',
            fields: ['identification', 'receiver', 'sender', 'password', 'dob', 'bank']
        });

        payment.amount('{{ form_val('amount', amounts[0]) }}');
        payment.fees.percent('{{ payment.deposit.fees.percent }}');
        payment.fees.amount('{{ payment.deposit.fees.amount }}');

        {% if bank and 'identification' in bank.ignore %}
        payment.identification('-');
        {% else %}
        payment.identification('{{ form_val('identification') }}');
        {% endif %}

        {% if bank and 'receiver' in bank.ignore %}
        payment.receiver('-');
        {% else %}
        payment.receiver('{{ form_val('receiver') }}');
        {% endif %}

        {% if bank and 'sender' in bank.ignore %}
        payment.sender('-');
        {% else %}
        payment.sender('{{ form_val('sender') }}');
        {% endif %}

        {% if bank and 'password' in bank.ignore %}
        payment.password('-');
        {% else %}
        payment.password('{{ form_val('password') }}');
        {% endif %}

        {% if bank and 'dob' in bank.ignore %}
        payment.dob('-');
        {% else %}
        payment.dob('{{ form_val('dob') }}');
        {% endif %}

        payment.bank('{{ bank.name }}');

        ko.applyBindings(payment, document.getElementById('deposit'));

    });

</script>