{% if bonuses %}
<div class="navbar-title3 top-curve"><h2>Bonus System</h2></div>
<ul class="bonus bottom-curve">
    {% for bonus in bonuses %}
    <li class="bonus-row">
    	<span class="ui-li-aside-l"><span class="bonus-percent">{{ bonus.percent }}%</span></span>
        {% if bonus.min == bonus.max %}
            <span class="bonus-per"><span class="bonus-percent">{{ bonus.min }} {{ lang('bonus.bets') }}</span></span>
        {% else %}
            <span class="bonus-per"><span class="bonus-percent">{{ bonus.min }} - {{ bonus.max }} {{ lang('bonus.bets') }}</span></span>
        {% endif %}
        <span class="ui-li-aside-r"><span class="bonus-percent">{{ bonus.percent }}% {{ lang('bonus.more_win') }}</span></span>
    </li>
    {% endfor %}
</ul>
{% endif %}