
<div class="navbar-title3 top-curve"><h2>My Account Informations</h2></div>
<div style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: hidden;">
    <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="group-title">{{ lang('profile.details.overview.profile.title') }}</div>
        </li>
        
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.profile.username') }}</label></div>
            <div class="input">
                <div class="input-content-text">{{ customer.username}}</div>
            </div>
        </li>

        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.profile.firstname') }}</label></div>
            <div class="input">
                <div class="input-content-text">{{ customer.firstname}}</div>
            </div>
        </li>
        
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.profile.lastname') }}</label></div>
            <div class="input">
                <div class="input-content-text">{{ customer.lastname}}</div>
            </div>
        </li>

        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.profile.first_login') }}</label></div>
            <div class="input">
                <div class="input-content-text">{{ customer.first_login|date('d.m.Y - H:i')}}</div>
            </div>
        </li>

        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.profile.last_login') }}</label></div>
            <div class="input">
                <div class="input-content-text">{{ customer.last_login|date('d.m.Y - H:i')}}</div>
            </div>
        </li>
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="group-title">{{ lang('profile.details.overview.verifications.title') }}</div>
        </li>
        {% for verification in verifications %}
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.verifications.' ~ verification.type) }}</label></div>
            <div class="input">
                <div class="input-content-text">
                    <!--
                    <a href="/profile/verify/{{ verification.type }}.html" class="{{ verification.status }}">
                        {% if verification.status == 'missing' %}
                            <i class="fa fa-question-circle orange" title="{{ lang('profile.details.overview.verifications.missing') }}"></i>
                            <em>{{ lang('profile.details.overview.verifications.verify') }}</em>
                        {% elseif verification.status == 'declined' %}
                            <i class="fa fa-times-circle red" title="{{ lang('profile.details.overview.verifications.declined') }}"></i>
                            <em>{{ lang('profile.details.overview.verifications.declined') }}</em>
                        {% elseif verification.status == 'pending' %}
                            <i class="fa fa-exclamation-circle blue" title="{{ lang('profile.details.overview.verifications.pending') }}"></i>
                            <em>{{ lang('profile.details.overview.verifications.pending') }}</em>
                        {% elseif verification.status == 'accepted' %}
                            <i class="fa fa-check-circle green" title="{{ lang('profile.details.overview.verifications.accepted') }}"></i>
                            <em>{{ lang('profile.details.overview.verifications.accepted') }}</em>
                        {% endif %}
                    </a>
                    -->

                    {% if verification.status == 'missing' %}
                        <div class="verify-status-text-{{ verification.status }}">{{ lang('profile.details.overview.verifications.verify') }}</div>
                    {% elseif verification.status == 'declined' %}
                        <div class="verify-status-text-{{ verification.status }}">
                            {{ lang('profile.details.overview.verifications.declined') }}
                            {{ asset_img('mobile/arrow_decline.png')}}
                        </div>
                    {% elseif verification.status == 'pending' %}
                        <div class="verify-status-text-{{ verification.status }}">{{ lang('profile.details.overview.verifications.pending') }}</div>
                    {% elseif verification.status == 'accepted' %}
                        <div class="verify-status-text-{{ verification.status }}">{{ lang('profile.details.overview.verifications.accepted') }}</div>
                    {% endif %}
                    
                    <!--{% if verification.status == 'accepted' or verification.status == 'pending' or verification.status == 'declined' %}-->
                        {{ verification.created|date('Y-m-d - H:i') }}
                        <span class="verify-status-icon-{{ verification.status }}">&nbsp;</span>
                    <!--
                    {% else %}
                        {{ lang('profile.details.overview.verifications.' ~ verification.status) }}
                    {% endif %}
                    -->
                </div>
            </div>
        </li>
        {% endfor %}

        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="group-title">{{ lang('profile.details.overview.balance.title') }}</div>
        </li>
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.balance.betting') }}</label></div>
            <div class="input">
                <div class="input-content-text">
                    {{ customer.balance.betting|number_format(2) }}
                    {% if customer.type != 'internet' and customer.currency.id == 'CHF' %}
                        PKT
                    {% elseif customer.currency.sign %}
                        {{ customer.currency.sign }}
                    {% else %}
                        {{ customer.currency.name }}
                    {% endif %}
                </div>
            </div>
        </li>
        <li class="li-form-group-row" data-role="fieldcontain">
            <div class="label"><label class="form-label-left">{{ lang('profile.details.overview.balance.casino') }}</label></div>
            <div class="input">
                <div class="input-content-text">
                    {{ customer.balance.casino|number_format(2) }}
                    {% if customer.type != 'internet' and customer.currency.id == 'CHF' %}
                        PKT
                    {% elseif customer.currency.sign %}
                        {{ customer.currency.sign }}
                    {% else %}
                        {{ customer.currency.name }}
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
</div>
