{% if customer %}

<form action="/profile/password.html" method="post">
    <div class="navbar-title3 top-curve"><h2>{{ lang('profile.password') }}</h2></div>
    <input type="hidden" name="action" id="action" value="login" />
    <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
        <li data-role="fieldcontain">
            <div class="label"><label for="old_password">{{ lang('profile.old_password') }}</label></div>
            <div class="input"><input data-clear-btn="true" type="password" name="old_password" id="old_password" /></div>
        </li>
        <li data-role="fieldcontain">
            <div class="label"><label for="new_password1">{{ lang('profile.new_password1') }}</label></div>
            <div class="input"><input data-clear-btn="true" type="password" name="new_password1" id="new_password1" /></div>
        </li>
        <li data-role="fieldcontain">
            <div class="label"><label for="new_password2">{{ lang('profile.new_password2') }}</label></div>
            <div class="input"><input data-clear-btn="true" type="password" name="new_password2" id="new_password2" /></div>
        </li>
        <li data-role="fieldcontain">
            <div class="label bottom-l-curve"><label>&nbsp;</label></div>
            <div class="acc-btn"><button type="submit" data-theme="a">{{ lang('profile.save') }}</button></div>
        </li>	
    </ul>		
</form>

{% endif %}