
<div class="sports-content deposit-container">
    <ul data-role="listview">
        {% for payment in payments %}
        <li>
            <a href="/payments/{{ payment.id }}/payout.html"  data-dom-cache="true">
                {{ asset_img('payment/' ~ payment.id ~ '.png')}}
                <h2 class="deposit-price-range-title">
                    {{ lang('payments.minimum') }}. {{ payment.deposit.minimum|number_format(2) }} {{ handshake.currency.id }} - 
                    {{ lang('payments.maximum') }}. {{ payment.deposit.maximum|number_format(2) }} {{ handshake.currency.id }}
                </h2>
            </a>
        </li>
        {% endfor %}
        <li>
            <a href="/payments/payfriendz/payout.html" data-dom-cache="true">
                {{ asset_img('payment/payfriendz.png') }}
                <h2 class="deposit-price-range-title">
                    Payfriendz
                </h2>
            </a>
        </li>
    </ul>   
</div>