{{ form_open({method: 'post', autocomplete: 'off', class: 'form-horizontal'}) }}
{{ form_csrf() }}

    <div class="navbar-title3 top-curve"><h2>Account Details</h2></div>
    <div id="registration" style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: hidden;">
        <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="gender" class="form-label-left">{{ lang('register.gender') }}</label><span class="star-require">*</span></div>
                <div class="input form-container-select">
                    <select name="gender" class="sel_gender sel" data-bind="value: gender">
                        {% if form_val('gender') == '' %}
                            <option value="" selected="selected"> </option>
                        {% else %}
                            <option value=""> </option>
                        {% endif %}

                        {% if form_val('gender') == 'male' %}
                            <option value="male" selected="selected">{{ lang('register.male') }}</option>
                        {% else %}
                            <option value="male">{{ lang('register.male') }}</option>
                        {% endif %}

                        {% if form_val('gender') == 'female' %}
                            <option value="female" selected="selected">{{ lang('register.female') }}</option>
                        {% else %}
                            <option value="female">{{ lang('register.female') }}</option>
                        {% endif %}
                    </select>
                    <div class="form-register-error" style="display:none" data-bind="visible: gender.valid() === false, text: gender.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="firstname" class="form-label-left">{{ lang('register.firstname') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="firstname" id="firstname" data-bind="value: firstname" value="{{ form_val('firstname') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: firstname.valid() === false, text: firstname.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="lastname" class="form-label-left">{{ lang('register.lastname') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="lastname" id="lastname" data-bind="value: lastname" value="{{ form_val('lastname') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: lastname.valid() === false, text: lastname.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="email" class="form-label-left">{{ lang('register.email') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="email" id="email" data-bind="value: email" value="{{ form_val('email') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: email.valid() === false, text: email.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="dob" class="form-label-left">{{ lang('register.dob') }}</label><span class="star-require">*</span></div>
                <div class="input form-container-select form-group-select-birthday">
                    {{ form_select('dob_day', form_val('dob_day'), date.days, {'class': 'sel_day sel', 'data-bind': 'value: dob.day'}) }}
                    {{ form_select('dob_month', form_val('dob_month'), date.months, {'class': 'sel_month sel', 'data-bind': 'value: dob.month'}) }}
                    {{ form_select('dob_year', form_val('dob_year'), date.years, {'class': 'sel_year sel', 'data-bind': 'value: dob.year'}) }}
                    <div class="form-register-error" style="display:none" data-bind="visible: dob.valid() === false, text: dob.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="street" class="form-label-left">{{ lang('register.street') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="street" id="street" data-bind="value: street" value="{{ form_val('street') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: street.valid() === false, text: street.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="city" class="form-label-left">{{ lang('register.city') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="city" id="city" data-bind="value: city" value="{{ form_val('city') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: city.valid() === false, text: city.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="postcode" class="form-label-left">{{ lang('register.postcode') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="postcode" id="postcode" data-bind="value: postcode" value="{{ form_val('postcode') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: postcode.valid() === false, text: postcode.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="country" class="form-label-left">{{ lang('register.country') }}</label><span class="star-require">*</span></div>
                <div class="input form-container-select">
                    <select name="country" class="sel_country sel" data-bind="value: country">

                        {% if form_val('country') == '' %}
                            <option value="" selected="selected"> </option>
                        {% else %}
                            <option value=""> </option>
                        {% endif %}

                        {% for country in countries %}
                            {% if country.id == form_val('country') %}
                                <option value="{{ country.id }}" selected="selected">{{ country.name }}</option>
                            {% else %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="form-register-error" style="display:none" data-bind="visible: country.valid() === false, text: country.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="currency" class="form-label-left">{{ lang('register.currency') }}</label><span class="star-require">*</span></div>
                <div class="input form-container-select">
                    <select name="currency" class="sel_currency sel" data-bind="value: currency">

                        {% if form_val('currency') == '' %}
                            <option value="" selected="selected"> </option>
                        {% else %}
                            <option value=""> </option>
                        {% endif %}

                        {% for currency in currencies %}
                            {% if currency.id == form_val('currency') %}
                                <option value="{{ currency.id }}" selected="selected">{{ currency.name }}</option>
                            {% else %}
                                <option value="{{ currency.id }}">{{ currency.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="form-register-error" style="display:none" data-bind="visible: currency.valid() === false, text: currency.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="telephone" class="form-label-left">{{ lang('register.telephone') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" placeholder="+4412345678" name="telephone" id="telephone" data-bind="value: telephone" value="{{ form_val('telephone') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: telephone.valid() === false, text: telephone.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="username" class="form-label-left">{{ lang('register.username') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="username" id="username" data-bind="value: username" value="{{ form_val('username') }}" />
                    <div class="form-register-error" style="display:none" data-bind="visible: username.valid() === false, text: username.message()"></div>
                </div>
            </li>
                      
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="password1" class="form-label-left">{{ lang('register.password') }}</label><span class="star-require">*</span></div>
                <div class="input container-password">
                    <input data-clear-btn="true" type="password" class="txt" name="password1" data-bind="value: password1, valueUpdate: 'afterkeydown', attr: {type: password1.generated() ? 'text' : 'password'}"/>
                    <input data-role="none" type="button" class="pass_gen bt-password-ui-btn" data-bind="click: function(){password1.generate()}" value=""/>

                    <div class="form-register-error" style="display:none" data-bind="visible: password1.valid() === false, text: password1.message()"></div>
                    
                    <div class="pass_strength" data-bind="css: 'str_' + password1.strength() ">
                        <h5 class="pass_str_h5">{{ lang('register.password_strength') }}:</h5>
                        <div class="strength_line">
                            <div class="pass_str pass_str_1">&nbsp;</div>
                            <div class="pass_str pass_str_2">&nbsp;</div>
                            <div class="pass_str pass_str_3">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="password2" class="form-label-left">{{ lang('register.password_confirm') }}</label><span class="star-require">*</span></div>
                <div class="input">
                    <input data-clear-btn="true" type="password" class="txt" name="password2" data-bind="value: password2, valueUpdate: 'afterkeydown'"/>
                    <div class="form-register-error" style="display:none" data-bind="visible: password2.valid() === false, text: password2.message()"></div>
                </div>
            </li>
                  

            <li class="li-form-group-row">
                <div class="label"><label for="terms" class="form-label-left">Terms and Conditions</label><span class="star-require">*</span></div>
                <div class="input">
                    <div class="form-container-input">
                        <input class="form-register-checkbox" type="checkbox" id="accept_terms" name="terms" data-role="none" value="1" data-bind="checked: terms"/>
                        <label class="form-register-label-input" for="accept_terms">{{ lang('register.terms') }}</label>
                        <a class="form-arrow-link" data-role="none" href="/info/gtc.html" title="">&nbsp;</a>
                    </div>
                    <div class="form-register-error" style="display:none" data-bind="visible: terms.valid() === false, text: terms.message()"></div>
                </div>
            </li>

            <li class="li-form-group-row">
                <div class="label">
                    <label for="newsletter" class="form-label-left">Newsletter</label>
                </div>
                <div class="input">
                    <div class="form-container-input">
                        <input class="form-register-checkbox" type="checkbox" id="newsletter" name="newsletter" data-role="none" value="1" />
                        <label class="form-register-label-input" for="newsletter">{{ lang('register.newsletter') }}</label>
                    </div>
                </div>
            </li>
          
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="captcha" class="form-label-left">Captcha</label><span class="star-require">*</span></div>
                <div class="input">
                    {{ captcha }}
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label>* required</label></div>
                <div class="input form-submit-button-center">
                    <button id="register-btn" type="submit" data-theme="a" data-bind="enable: valid()">{{ lang('register.button') }}</button>
                </div>
            </li>
        </ul>
    </div>

{{ form_close() }}

<script type="text/javascript">

    $(function () {

        $('form').submit(function () {
            $('#register-btn').html('<i class="fa fa-refresh fa-spin"></i> <span>In progress</span>');
        });

        var registration = betmatic.customer.registration.create();
        registration.gender('{{ form_val('gender') }}');
        registration.firstname('{{ form_val('firstname') }}');
        registration.lastname('{{ form_val('lastname') }}');
        registration.email('{{ form_val('email') }}');
        registration.telephone('{{ form_val('telephone') }}');
        registration.dob.day('{{ form_val('dob_day') }}');
        registration.dob.month('{{ form_val('dob_month') }}');
        registration.dob.year('{{ form_val('dob_year') }}');
        registration.street('{{ form_val('street') }}');
        registration.city('{{ form_val('city') }}');
        registration.postcode('{{ form_val('postcode') }}');
        registration.country('{{ form_val('country') }}');
        registration.currency('{{ form_val('currency') }}');
        registration.username('{{ form_val('username') }}');

        ko.applyBindings(registration, document.getElementById('registration'));

    });

</script>

