{{ form_open({method: 'post', autocomplete: 'off', class: 'form-horizontal'}) }}
{{ form_csrf() }}

    <div class="navbar-title3 top-curve"><h2>Account Details</h2></div>
    <div style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: hidden;">
        <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="username" class="form-label-left">{{ lang('profile.username') }}</label></div>
                <div class="input">
                    <input data-clear-btn="true" type="text" name="username" id="username" />
                    <div class="form-register-error"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="password" class="form-label-left">{{ lang('profile.password') }}</label></div>
                <div class="input">
                    <input data-clear-btn="true" type="password" name="password" id="password" />
                    <div class="form-register-error"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="confirm-password" class="form-label-left">Confirm Password</label></div>
                <div class="input">
                    <input data-clear-btn="true" type="password" name="confirm-password" id="confirm-password" />
                    <div class="form-register-error"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="email" class="form-label-left">E-mail</label></div>
                <div class="input">
                    <input data-clear-btn="true" type="email" name="email" id="email" />
                    <div class="form-register-error"></div>
                </div>
            </li>
            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label  class="form-label-left">Date of Birth</label></div>
                <div class="input form-container-select form-group-select-birthday">
                    {{ form_select('dob_day', form_val('dob_day'), date.days, {'class': 'sel_day sel', 'data-bind': 'value: dob.day'}) }}
                    {{ form_select('dob_month', form_val('dob_month'), date.months, {'class': 'sel_month sel', 'data-bind': 'value: dob.month'}) }}
                    {{ form_select('dob_year', form_val('dob_year'), date.years, {'class': 'sel_year sel', 'data-bind': 'value: dob.year'}) }}
                    <div class="form-register-error"></div>
                </div>
            </li>

            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label for="country" class="form-label-left">Country</label></div>
                <div class="input form-container-select">
                    <select id="country" name="country" class="sel_country sel" data-bind="value: country">
                        {% if form_val('country') == '' %}
                            <option value="" selected="selected">Choose a country</option>
                        {% else %}
                            <option value="">Choose a country</option>
                        {% endif %}

                        {% for country in countries %}
                            {% if country.id == form_val('country') %}
                                <option value="{{ country.id }}" selected="selected">{{ country.name }}</option>
                            {% else %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="form-register-error"></div>
                </div>
            </li>

            <li class="li-form-group-row">
                <div class="label"><label for="terms" class="form-label-left">Terms and Conditions</label></div>
                <div class="input">
                    <div class="form-container-input">
                        <input class="form-register-checkbox" type="checkbox" id="accept_terms" name="terms" data-role="none" data-bind="checked: terms"/>
                        <label class="form-register-label-input" for="accept_terms">{{ lang('register.terms') }}</label>
                        <a class="form-arrow-link" data-role="none" href="/info/gtc.html" title="">&nbsp;</a>
                    </div>
                    <div class="form-register-error"></div>
                </div>
            </li>


            <li class="li-form-group-row" data-role="fieldcontain">
                <div class="label"><label>&nbsp;</label></div>
                <div class="input form-submit-button-center">
                    <button id="register-btn" type="submit" data-theme="a">{{ lang('register.button') }}</button>
                </div>
            </li>
        </ul>
    </div>

{{ form_close() }}

<script type="text/javascript">

    $(function () {
    });

</script>
