{{ form_open({method: 'post', autocomplete: 'off'}) }}
    {% if restricted == false %}
        <div class="navbar-title3 top-curve table-header">
            <h2 class="header-title">Visa</h2>
            <div class="header-title-infor">
                {{ lang('payments.minimum') }}. {{ payment.deposit.minimum|number_format(2) }} - 
                {{ lang('payments.maximum') }}. {{ payment.deposit.maximum|number_format(2) }}
            </div>
        </div>
        <div id="deposit" style="border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; overflow: hidden;">
            
            {% set amounts = [25, 50, 100, 200, 500] %}

            <ul data-role="listview" data-inset="true" class="account-details bottom-curve">
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="amount" class="form-label-left">Amount</label>
                    </div>
                    <div class="input form-container-select deposit-input-have-infor">
                        <select id="amount-select" name="amount-select">
                            {% for amount in amounts %}
                                <option value="{{ amount }}">{{ amount }} {{ handshake.currency.id }}</option>
                            {% endfor %}
                        </select>
                        <span class="fee-information">
                            <span class="fee-header">{{ lang('payments.fees') }}:</span>
                            <span class="fee-detail">
                            {% if payment.deposit.fees.percent and payment.deposit.fees.amount %}
                                {{ payment.deposit.fees.percent|number_format(2) }}% + {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                            {% elseif payment.deposit.fees.percent %}
                                {{ payment.deposit.fees.percent|number_format(2) }}%
                            {% elseif payment.deposit.fees.amount %}
                                {{ payment.deposit.fees.amount|number_format(2) }} {{ handshake.currency.id }}
                            {% else %}
                                {{ lang('global.none') }}
                            {% endif %}
                            </span>
                        </span>
                        <div class="form-register-error"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="enter_amount" class="form-label-left">Enter Manually</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="amount" id="amount" data-bind="value: amount" value="{{ form_val('amount') }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: amount.valid() === false, text: amount.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="firstname" class="form-label-left">{{ lang('payments.creditcard.fields.firstname') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="firstname" id="firstname" data-bind="value: firstname" value="{{ customer.firstname }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: firstname.valid() === false, text: firstname.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="lastname" class="form-label-left">{{ lang('payments.creditcard.fields.lastname') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="lastname" id="lastname" data-bind="value: lastname" value="{{ customer.lastname }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: lastname.valid() === false, text: lastname.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="bank" class="form-label-left">{{ lang('payments.creditcard.fields.bank') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="bank" id="bank" data-bind="value: bank" value="{{ bank }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: bank.valid() === false, text: bank.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="number" class="form-label-left">{{ lang('payments.creditcard.fields.number') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="number" id="number" data-bind="value: number" value="{{ number }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: number.valid() === false, text: number.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="month" class="form-label-left">{{ lang('payments.creditcard.fields.month') }}</label>
                    </div>
                    <div class="input form-container-select">
                        {{ form_select('month', form_val('month'), months, {'data-bind': 'value: month'}) }}
                        <div class="form-register-error" style="display:none" data-bind="visible: month.valid() === false, text: month.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="year" class="form-label-left">{{ lang('payments.creditcard.fields.year') }}</label>
                    </div>
                    <div class="input form-container-select">
                        {{ form_select('year', form_val('year'), years, {'data-bind': 'value: year'}) }}
                        <div class="form-register-error" style="display:none" data-bind="visible: year.valid() === false, text: year.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="cvv" class="form-label-left">{{ lang('payments.creditcard.fields.cvv') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="cvv" id="cvv" data-bind="value: cvv" value="{{ number }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: cvv.valid() === false, text: cvv.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="street" class="form-label-left">{{ lang('payments.creditcard.fields.street') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="street" id="street" data-bind="value: street" value="{{ customer.street }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: street.valid() === false, text: street.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="city" class="form-label-left">{{ lang('payments.creditcard.fields.city') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="city" id="city" data-bind="value: city" value="{{ customer.city }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: city.valid() === false, text: city.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="state" class="form-label-left">{{ lang('payments.creditcard.fields.state') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="state" id="state" data-bind="value: state" value="{{ customer.state }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: state.valid() === false, text: state.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="postcode" class="form-label-left">{{ lang('payments.creditcard.fields.postcode') }}</label>
                    </div>
                    <div class="input">
                        <input data-clear-btn="true" type="text" name="postcode" id="postcode" data-bind="value: postcode" value="{{ customer.postcode }}" />
                        <div class="form-register-error" style="display:none" data-bind="visible: postcode.valid() === false, text: postcode.message()"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="country" class="form-label-left">{{ lang('payments.creditcard.fields.country') }}</label>
                    </div>
                    <div class="input form-container-select">
                        {{ form_select('country', form_val('country', customer.country.id), countries, {'data-bind': 'value: country'}) }}
                        <div class="form-register-error"></div>
                    </div>
                </li>
                <li class="li-form-group-row" data-role="fieldcontain">
                    <div class="label">
                        <label for="amount_send" class="form-label-left total-deposit-number" data-bind="html: parseFloat(total()).toFixed(2) != 'NaN' ? parseFloat(total()).toFixed(2) : '0.00'">0.00</label>
                        {{ handshake.currency.id }}
                    </div>
                    <div class="input form-submit-button-center container-submit-fullwidth">
                        <button id="deposit-btn" type="submit" data-theme="a">{{ lang('payments.deposit.button') }}</button>
                    </div>
                </li>
            </ul>
        </div>
    {% else %}

        <h2>{{ lang('country.restriction') }}</h2>

    {% endif %}
{{ form_close() }}

{% if restricted == false %}

    <script type="text/javascript">

        $(function () {

            var payment = betmatic.payment.create({
                id: '{{ payment.id }}',
                type: 'deposit',
                fields: [
                    'firstname', 'lastname', 'bank', 'number',
                    'month', 'year', 'cvv', 'street', 'city',
                    'state', 'postcode', 'country'
                ]
            });

            payment.amount('{{ form_val('amount', amounts[0]) }}');
            payment.fees.percent('{{ payment.deposit.fees.percent }}');
            payment.fees.amount('{{ payment.deposit.fees.amount }}');
            payment.firstname('{{ form_val('firstname', customer.firstname) }}');
            payment.lastname('{{ form_val('lastname', customer.lastname) }}');
            payment.bank('{{ form_val('bank') }}');
            payment.number('{{ form_val('number') }}');
            payment.month('{{ form_val('month') }}');
            payment.year('{{ form_val('year') }}');
            payment.cvv('{{ form_val('cvv') }}');
            payment.street('{{ form_val('street', customer.street) }}');
            payment.city('{{ form_val('city', customer.city) }}');
            payment.state('{{ form_val('state', customer.state) }}');
            payment.postcode('{{ form_val('postcode', customer.postcode) }}');
            payment.country('{{ form_val('country', customer.country.id) }}');

            ko.applyBindings(payment, document.getElementById('deposit'));

        });

    </script>

{% endif %}